<h1>Hello React</h1>

<h2><%= @title %></h2>
<h2><%= @message %></h2>

<%= javascript_pack_tag 'hello_react' %>

<%# <p>Find me in app/views/hello/index.html.erb</p> %>

<%#= react_component("HelloWorld", { greeting: "Hello from react-rails.", result: "Dummy Result"}) %>

<%# <div id="hello"></div> %>
